* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  gap: 232.5px;
  padding: 21.84px 0;
  margin: 0 165px;
}
.list ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

.item ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.collections {
  display: flex;
  flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: blueviolet;*/
  /* margin-top: 80px;*/
    margin: 0 165px;




}
.collection {
   width: calc( (100% - 90px) / 4);
 /*width: 25%;*/
}
img {
  width: 100%;
 
}