* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --prameryfont: "Inter";
  --pramercolor: #3a3845;
  --spacer: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

body {
  font-family: var(--prameryfont);
}

.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  background: white;
}

.slider {
  position: relative;
  width: 100%;
  height: 640px;
  margin-top: 80px;
}

.slider-right {
  width: 100%;
  height: 100%;
}

.slider-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-left {
  position: absolute;
  left: 165px;
  top: 0;

  height: 100%;
}

.slider-left img {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .slider {
    flex-direction: column; /*تغيير اتجاه العناصر إلى عمودي*/
    height: auto;
  }

  .slider-right {
    order: 1; /**تحديد ترتيب العنصر في التخطيط العمودي*/
    width: 100%;
  }

  .slider-left {
    order: 2; /*تحديد ترتيب العنصر في التخطيط العمودي*/
    width: 100%;
    position: static; /*إعادة تعيين الخصائص المتعلقة بالوضعية*/
  }

  .slider-right img,
  .slider-left img {
    width: 100%;
    height: auto;
  }
}

.list ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

.item ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.offer {
  padding: 80px 0;
  display: flex;
  width: 100%;
}
.offer-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
}
.offer-text h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 64px 78.5px 24px;
}
.offer-text p {
  font-size: 16px;
  color: #595667;
  line-height: 24px;
  font-weight: 400;
  padding: 24px 32px;
}
.offer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .offer {
    height: auto;
    flex-direction: column;
  }
  .offer-text {
    order: 1;
    width: 100%;
    padding: 40px 20px;
  }

  .offer-image {
    order: 2;
    width: 100%;
  }
}

.collections {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.collection {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .collection {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .collection {
    width: calc((100% - 90px) / 4);
  }
}

img {
  width: 100%;
}
.best-sellers {
  padding: 80px 0;
}
.best-sellers .item {
  text-align: left;
  width: calc((100% - 90px) / 4);
}
.best-sellers {
  text-align: center;
  padding: 80px 0;
}
.best-sellers.item-content {
  margin-top: 24px;
}
.best-sellers h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.best-sellers h3 {
  font-size: px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.best-sellers .price {
  font-size: 22px;
  font-weight: 700;
}
.best-sellers .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.best-sellers .description {
  width: 80%;
  color: #807f86;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 34px;
}

.best-sellers .AddToCar {
  background-color: #fff;

  border: 2px solid #000;
  padding: 15px 21px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
}

.collection {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.collection-info {
  position: absolute;
  background-color: rgb(0, 128, 128, 0.923);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
}
.collection:hover .collection-info {
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .best-sellers .item {
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .best-sellers .item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
  .best-sellers .item {
    width: calc((100% - 60px) / 3);
  }
  .best-sellers h3 {
    font-size: 16px;
  }
  .best-sellers .AddToCar {
    padding: 15px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .best-sellers .item {
    width: calc((100% - 90px) / 4);
  }
  .best-sellers h3 {
    font-size: 16px;
  }
  .best-sellers .AddToCar {
    padding: 15px 40px;
  }
}

@media screen and (max-width: 700px) {
  .list ul,
  .item ul {
    display: none;
  }
}

.history {
  padding: 80px 0;
}
.container {
  margin: auto;
  padding: 0 80px;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.history-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.history-text h2 {
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
  color: #3a3845;
  padding: 64px 78.5px 24px;
}

.history-text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 24px;
  color: #595667;
  padding: 24px 60px 32px;
}

.history-text a {
  color: #3a3845;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 6%;
}

@media screen and (max-width: 700px) {
  .history-grid {
    grid-template-columns: 1fr;
  }

  .history-text {
    padding: 40px 20px;
  }
  .history-image:nth-of-type(2) {
    /*تحديد ترتيب العنصر في التخطيط العمودي*/
    order: 4;
  }
}

.history-text:nth-of-type(2) {
  order: 3;
}

.discover-new-arrivals {
  padding: 80px 0;
}

.discover-new-arrivals .item {
  text-align: left;
  width: calc((100% - 90px) / 4);
}

.discover-new-arrivals {
  text-align: center;
  padding: 80px 0;
}
.discover-new-arrivals .item-content {
  margin-top: 24px;
}
.discover-new-arrivals h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.discover-new-arrivals h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.discover-new-arrivals .price {
  font-size: 22px;
  font-weight: 700;
}
.discover-new-arrivals .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.discover-new-arrivals .description {
  width: 80%;
  color: #807f86;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 34px;
}

.discover-new-arrivals .AddToCar {
  background-color: #fff;

  border: 2px solid #000;
  padding: 15px 21px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .discover-new-arrivals .item {
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
  .discover-new-arrivals .item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 701px) and (max-width: 1023px) {
  .discover-new-arrivals .item {
    width: calc((100% - 60px) / 3);
  }
  .discover-new-arrivals h3 {
    font-size: 16px;
  }
  .discover-new-arrivals .AddToCar {
    padding: 15px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .discover-new-arrivals .item {
    width: calc((100% - 90px) / 4);
  }
  .discover-new-arrivals h3 {
    font-size: 16px;
  }
  .discover-new-arrivals .AddToCar {
    padding: 15px 40px;
  }
}

.blog {
  padding: 80px 0;
}

.blog-title {
  text-align: center;
  font: size 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 60px;
}

.blog-content {
  display: flex;
  align-items: center;
}

.blog-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.blog-text span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 6%;
  color: #807f86;
  margin-bottom: 16px;
}

.blog-text h3 {
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #3a3845;
}

.blog-text p {
  color: #595667;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 16px;
}

.blog-text a {
  color: #595667;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 6%;
  font-size: 14px;
}

.blog-image {
  width: 50%;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  .blog-content {
    flex-direction: column;
  }
  .blog-text {
    order: 2;
    width: 100%;
  }
  .blog-image {
    order: 1;
    width: 100%;
  }
}

.newsletter {
  padding: 80px 0;
  text-align: center;
}

.newsletter span {
  display: block;
  color: #595667;
  margin-bottom: 24px;
}

.newsletter h2 {
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 24px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.newsletter-form input {
  padding: 15px 24px;
  border: none;
  border-bottom: 1px solid #3a3845;
  width: 400px;
  text-align: center;
  outline: none; 
  border: none;
}

.newsletter-form button {
  padding: 15px 24px;
  border: 1px solid #3a3845;
  background:white;
  cursor: pointer;
  letter-spacing: 8%;
}

@media (max-width:700px){

.newsletter-form input{
width:100%;
}

}